<html>
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css"> <!-- 追加 -->
  </head>
  <body>
    <% if notice %>
    <p><%= notice %></p>
    <% end %>
    <div class="mx-auto" style="width: 550px;" >
      <h2>welcome to <i class="fas fa-book"></i>Bookers !!</h2>
      <p >In<i class="fas fa-book"></i> <steong>Bookers</strong>,</br>
      <br>you can share and exchange your opinions , inpressions , and emotions</br>
      <br>about various books!</br></p>

      <p><%= link_to "Log in", new_user_session_path, class: 'w-75 nav-link bg-info text-light text-center '  %></p>
      <p><%= link_to "Sign up",new_user_registration_path, class: 'w-75 nav-link bg-success text-light text-center  ' %></p>
      <p class= 'text-center pt-5'> CopyRight Infratop.inc</p>
    </div>
  </body>
</html>